body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* 背景顏色 */
    margin: 0;
    padding: 20px;
    display: flex; /* 使用彈性佈局 */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    height: 100vh; /* 佔滿整個視窗高度 */
}

h1 {
    text-align: center;
    color: #00796b; /* 標題顏色 */
    margin-bottom: 20px; /* 標題底部間距 */
    font-size: 36px; /* 標題字體大小 */
}

#cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* 調整卡牌間隔 */
    margin-top: 20px;
    max-width: 500px; /* 設定最大寬度以保持整體佈局 */
    width: 100%; /* 確保容器寬度為100% */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 卡片容器陰影 */
    border-radius: 10px; /* 卡片容器圓角 */
    padding: 10px; /* 內邊距 */
    background-color: #ffffff; /* 卡片容器背景顏色 */
}

.card {
    width: 100px;
    height: 140px;
    perspective: 1000px;
    transition: transform 0.3s; /* 添加過渡效果 */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px; /* 卡片圓角 */
    backface-visibility: hidden;
}

.card-front {
    background-color: #00796b; /* 正面顏色 */
    display: flex;
    justify-content: center; /* 內容居中 */
    align-items: center; /* 內容垂直居中 */
}

.card-back {
    transform: rotateY(180deg);
    background-color: #4db6ac; /* 背面顏色 */
    display: flex;
    justify-content: center; /* 內容居中 */
    align-items: center; /* 內容垂直居中 */
}

.card-image {
    width: 80%; /* 圖片佔卡片的80% */
    height: 80%; /* 圖片佔卡片的80% */
    object-fit: cover;
    border-radius: 4px; /* 圖片圓角 */
}

button, select {
    padding: 10px;
    margin: 10px;
    font-size: 16px; /* 字體大小 */
    border: none; /* 移除邊框 */
    border-radius: 5px; /* 按鈕圓角 */
    background-color: #00796b; /* 按鈕顏色 */
    color: #ffffff; /* 字體顏色 */
    cursor: pointer; /* 滑鼠指標 */
    transition: background-color 0.3s; /* 按鈕過渡效果 */
}

button:hover {
    background-color: #004d40; /* 懸停顏色 */
}

select {
    font-size: 18px; /* 下拉選單字體大小 */
}

#timer {
    font-size: 24px; /* 計時器字體大小 */
    font-weight: bold;
    margin-bottom: 10px;
    color: #d32f2f; /* 計時器顏色 */
}
